#search-input, .dataTable-filter{
  max-width: unset !important;
 }
  
 .cursor{
   cursor: pointer !important;
 }
 

 #users-data-table {
  .rdt_TableCell, .rdt_TableCol {
    padding: .72rem;
    &:first-child {
      padding-left: 1.5rem;
    }
    &:last-child {
      padding-right: 1.5rem;
    }
  }
 }