.deleteImage{
  position: absolute;
  background-color: white;
  border-radius: 100px;
  width: 15px;
  text-align: center;
  height: 15px;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  top: 0px;
  background-color: #eae1e16b;
}